@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.form_container {
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
}

.button_container {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}
.form_container input[type="submit"] {
  border-radius: 8px;
  background-color: #4070f4;
  color: #fff;
  border: none;
  min-width: 100px;
  min-height: 2.5em;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 1em;
}

.form_container input[type="submit"]:hover {
  background-color: #2449af;
}

.form_container input[type="button"] {
  border-radius: 8px;
  background-color: red;
  color: #fff;
  border: none;
  min-width: 100px;
  min-height: 2.5em;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

.form_container input[type="button"]:hover {
  background-color: #fd2b2b;
}

.form_container p {
  margin-top: 1em;
}

.form_container p a {
  color: #5867ec;
  font-weight: bold;
}
