@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.page_container {
  background-image: url(../../assets/img/login.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.form_container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.form_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
}
.form_container input[type="submit"] {
  border-radius: 8px;
  background-color: #4070f4;
  color: #fff;
  border: none;
  min-width: 100px;
  min-height: 2.5em;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  margin-right: 1em;
}

.form_container input[type="submit"]:hover {
  background-color: #2449af;
}

.form_container input[type="button"] {
  border-radius: 8px;
  background-color: red;
  color: #fff;
  border: none;
  min-width: 100px;
  min-height: 2.5em;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

.form_container input[type="button"]:hover {
  background-color: #fd2b2b;
}

.form_container p {
  margin-top: 1em;
}

.form_container p a {
  color: #5867ec;
  font-weight: bold;
}

.form_container h1 {
  margin-bottom: 20px;
}

/* Personalização de tema escuro */
.form_container-dark {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.form_container-dark input {
  background-color: #222;
  color: #fff;
}

.form_container-dark input::placeholder {
  color: #999;
}

.form_container-dark input[type="submit"] {
  background-color: #4070f4;
}

.form_container-dark input[type="button"] {
  background-color: red;
}

.form_container-dark input[type="submit"]:hover {
  background-color: #2449af;
}
.form_container-dark input[type="button"]:hover {
  background-color: #fd2b2b;
}

.form_container-dark p a {
  color: #5867ec;
}
