.footer {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  color: #444;
  border-top: 1px solid #666;
}

.footer-dark {
  background-color: #1e1e1e;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.footer-dark span {
  font-weight: bold;
}
